static/
__MACOSX/
CaremaManagement/static/data/
CaremaManagement/capture/static/
CaremaManagement/test/saved_images/
CaremaManagement/test/saved_pics/
PythonUI/saved_pics/
saved_pics/
*.jpg
*.png
*.npy
